body {
	width:400px;
}

ul {
  list-style-type: none;
}

.title{
	text-align: center;
	font-family: "Coiny", cursive;
	font-size:30px;
}

.animal-card{
	border: 1px solid black;
	margin:5px;
	padding:20px;
}

.animal-image{
	width:300px;
	margin:5px;
}

.animal-info{
	border: 2px solid grey;
	margin:5px;
	padding: 20px
}

.interesting-fact{
	font-style: italic;
}

.facts-list{
	border: 2px solid grey;
}

.label {
	border: 2px solid grey;
}
